@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
:root{
  /* Variables */
  --gradient-color: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
  --font-family: 'Poppins', sans-serif;
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
  --gap: 2rem;
  --margin-sm: 2rem;
  --margin-md: 3rem;
  --item-min-height-sm: 20rem;
  --item-min-height-md: 30rem;

  --light-color: #fff;
  --light-color-alt: #afb6cd;
  --primary-background-color: #131417;
  --secondary-background-color: #252830;
  --hover-light-color: var(--light-color);
  --hover-dark-color: var(--primary-background-color);
  --transparent-light-color: rgba(255,255,255,.05);
  --transparent-dark-color: rgba(0,0,0,.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  color: var(--light-color-alt);
  background-color: var(--primary-background-color);
  letter-spacing: 1px;
  transition: background-color .25s, color .25s;
}

h1 {
  font-size: 3.2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%; /* No overflow of containers */
  display: block;
}

ul {
  list-style: none;
}

input,
button {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  outline: none;
}

i {
  font-size: var(--font-size-md);
}

#app {
  max-width: 128rem;
  margin: 0 auto;
  padding: 2rem;
}

.container{
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.page {
  padding-top: 6rem;
}

.place-items-center{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.screen-sm-hidden{
  display: none;
}

.moon-icon{
  display: none;
}

.light-theme .sun-icon{
  display: none;
}

.light-theme .moon-icon{
  display: block;
}

.fancy-border{
  position: relative;
  overflow: hidden;
}

.fancy-border::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: var(--gradient-color);
    background-size: 50% 100%;
    z-index: 5;
}

.fancy-border span{
    position: relative;
    z-index: 10;
    display: inline-flex;
    background-color: var(--secondary-background-color);
    padding: .6rem 1.5rem;
}

/* Fancy button animation effect */
.btn.fancy-border:hover::before{
  animation: animate_border .75s linear infinite
}

@keyframes animate_border{
  to{
    transform:translateX(-50%)
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #3f4254;
}

::-webkit-scrollbar-thumb:hover {
  background: #2e303b;
}

body.dark-theme {
}

body.light-theme {
  --light-color: #3d3d3d;
  --light-color-alt: rgba(0, 0, 0, .6);
  --primary-background-color: #fff;
  --secondary-background-color: #f1f1f1;
  --hover-light-color: #fff;
  --hover-dark-color: var(--primary-background-color);
  --transparent-light-color: var(--secondary-background-color);
  --transparent-dark-color: rgba(0, 0, 0, .1);
}
